.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: relative;

    .left-rectangle, .right-rectangle {
        width: 10%;
        height: 90%;
        position: absolute;
    }

    .left-rectangle {
        background-color: #4A6C02;
        left: 0;
    }
    .left-image {
        left: 3vw;
        top: 3vw;
    }

    .right-rectangle {
        background-color: #01334A;
        right: 0;
    }
    .right-image {
        right: 3vw;
        bottom: 3vw;
    }

    img {
        width: 28vw;
        min-width: 230px;
        position: absolute;
        z-index: 1;
        &:nth-child(2) {
            animation: imageMove 2s linear 0.5s infinite;
        }
        &:last-child {
            animation: imageMove 2s linear 0s infinite;
        }
    }


    .text {
        position: relative;
        top: -1em;
        max-width: 60%;
        text-align: center;
        display: block;
        
        h2, span {
            font-family: 'The Bold Font';
            color: black;
            font-size: 5vw
        }
    }
}

@keyframes imageMove {
    0% {
        transform: translateX(-4px) translateY(4px) rotate(-1deg);
    }
    12% {
        transform: translateX(0) translateY(0) rotate(-1deg);
    }
    25% {
        transform: translateX(4px) translateY(-4px) rotate(0deg);
    }
    37% {
        transform: translateX(6px) translateY(0) rotate(1deg);
    }
    50% {
        transform: translateX(4px) translateY(4px) rotate(1deg);
    }
    62% {
        transform: translateX(0) translateY(0) rotate(1deg);
    }
    75% {
        transform: translateX(-4px) translateY(-4px) rotate(0deg);
    }
    87% {
        transform: translateX(-6px) translateY(0) rotate(-1deg);
    }
    100% {
        transform: translateX(-4px) translateY(4px) rotate(-1deg);
    }
}