.list {
    margin: 2em 0;
    h2 {
        font-size: 1.5em;
        font-weight: 400;
        margin: 0 10vw;
        padding: 0;
        color: #333;
    }
    .items-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 10vw;
        .item {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: azure;
            padding: 1em;
            margin: 2em;
            border-radius: 10px;
            @media screen and (min-width: 1200px) {
                width: 40%;
            }
            &:nth-child(odd) {
                align-items: flex-start;
                .item__image {
                    @media screen and (min-width: 768px) {
                        left: 20%;
                    }
                }
                .item__image__back {
                    transform: translateX(-5%) translateY(-4%) rotate(3deg);
                }
            }
            &:nth-child(even) {
                align-items: flex-end;
                h3, p {
                    text-align: end;
                }
                .item__image {
                    @media screen and (min-width: 768px) {
                        right: 20%;
                    }
                }
                .item__image__back {
                    transform: translateX(-5%) translateY(-4%) rotate(-3deg);
                }
            }
            &__title {
                width: 75%;
                font-size: 1.8em;
                font-weight: 400;
                margin: 0;
                padding: 0;
                color: #333;
            }
            &__description {
                width: 75%;
                font-weight: 400;
                margin: 0;
                padding: 0;
                color: #333;
            }
            &__image {
                position: relative;
                margin-top: 2em;
                width: 80%;
                max-width: 400px;
                z-index: 1;
                &__img {
                    width: 100%;
                    z-index: 3;
                }
                &__back {
                    position: absolute;
                    top: 0;
                    width: 110%;
                    height: 110%;
                    background-color: rgb(149, 149, 233);
                    z-index: -1;
                }
            }
        }
    }
}