.titleText {
  margin: 2em 2em 5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 16px !important;
  }
  p {
    text-align: justify;
    width: 80vw;
    @media screen and (min-width: 768px) {
      width: 60vw;
    }
  }
  ul.parentList {
    display: flex;
    padding-top: 12px;
    padding-left: 28px;

    > li {
      width: 50%;
      padding-right: 40px;
    }
    ul.childList {
      padding-left: 28px;
    }
  }
  .conclusions {
    width: 80%;
    margin: auto;
    margin-bottom: 0;
    text-align: justify;
    @media screen and (min-width: 768px) {
      width: 50%;
      // apply to parent
      @at-root .titleText {
        margin-bottom: 0;
      }
    }
  }
}