.titleText {
  max-width: 1400px;
  margin: 32px auto;
  h1 {
    margin-bottom: 16px;
  }
  p {
    text-align: justify;
  }
  ul.parentList {
    display: flex;
    padding-top: 12px;
    padding-left: 28px;

    > li {
      width: 50%;
      padding-right: 40px;
    }
    ul.childList {
      padding-left: 28px;
    }
  }
  .conclusions {
    width: 50%;
    margin: auto;
    text-align: justify;
  }
}