@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

@font-face {
  font-family: "The Bold Font";
  src: url("../assets/THEBOLDFONT.ttf") format("truetype");
}

@font-face {
  font-family: "Carbon Personal Use Bold";
  src: url("../assets/CarbonPersonalUseBold-VGedw.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Manrope', 'The Bold Font', sans-serif;
}

body,
#root,
html {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  overflow-x: hidden;
}

body {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 2vw 0;

  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}